{% extends "base.html" %}

{% block content %}
<h2>Enter Credit Request</h2>

<form method="post" action="/{{ target }}">
 {% csrf_token %}

 <table>
  <tr>
   <th colspan="2">Request</th>
  </tr>
  <tr>
   <th>Customer</th>
   <td>
     {{ customer.first_name }}
     {{ customer.middle_name }}
     {{ customer.last_name }}
   </td>
   <td>{{ customer.rating }}</td>
  </tr>
  <tr>
   <th>Reason</th>
   <td><input type="text" name="reason" value="{{ credit_request.reason }}"></td>
  </tr>
  <tr>
   <th>Amount</th>
   <td><input type="text" name="amount" value="{{ credit_request.amount.amount }}"></td>
  </tr>
  <tr>
   <th>Currency</th>
   <td><input type="text" name="currency" value="{{ credit_request.amount.currency_code }}"></td>
  </tr>
  <tr>
   <th>Duration</th>
   <td><input type="text" name="duration" value="{{ credit_request.duration.years }}"/> Years</td>
  </tr>

  {% for warrantor in credit_request.warrantors %}
   <tr>
    <th>Warrantor</th>
    <td>
      {{ warrantor.first_name }}
      {{ warrantor.middle_name }}
      {{ warrantor.last_name }}
    </td>
    <td>
      {{ warrantor.rating }}
    </td>
   </tr>
  {% endfor %}

  <tr>
   <td colspan="2">
    <input type="submit" value="Continue" />
   </td>
  </tr>
 </table>

{% endblock %}
