{% extends "base.html" %}

{% block content %}
<h2>Customers</h2>



<form method="post" action="/show-warrantor">
 {% csrf_token %}
 <table>
  <tr>
   <th>Reason</th>
   <td>{{ credit_request.reason }}</td>
  </tr>

  <tr>
   <th>Amount</th>
   <td>{{ credit_request.amount.amount }}</td>
  </tr>

  <tr>
   <th>Currency</th>
   <td>{{ credit_request.amount.currency_code }}</td>
  </tr>

  <tr>
   <th>Duration</th>
   <td>{{ credit_request.duration.years}} Years</td>
  </tr>

  {% for warrantor in credit_request.warrantors %}
   <tr>

   </tr>
  {% endfor %}

  <tr>
   <th>Warrantor Name</th>
   <td>
    <input type="text" name="name" />
    <input type="submit" value="Search" />
   </td>
  </tr>
 </table>
</form>

 <a href="/submit-request">Submit Request</a>

{% endblock %}


<p>Searched for "{{ name }}",
found
{% if warrantor %}
 {{ warrantor.first_name }} {{ warrantor.middle_name }} {{ warrantor.last_name }}
 <a href="/add-warrantor?id={{ id }}">Add Warrantor</a>
{% else %}
 nothing
{% endif %}
{% endblock %}
